<link rel="stylesheet" href="styles.css">

<body>

    <section class="about-us">
        <div class="about-text">
            <h1>Contact Us</h1>
            <ul>
                <li>Manas Acharekar - macharek@stevens.edu</li>
                <li>Kshitij Gugale - kgugale@stevens.edu</li>
                <li>Chen Ye - cye@stevens.edu</li>
                <li>Dhruvin Vasani - dvasani1@stevens.edu</li>
                <li>Dhanesh Akolu - dakolu@stevens.edu</li>
            </ul>

        </div>
    </section>
    <footer>
        <ul>
            <li>Privacy Policy</li>
            <li>Terms and Conditions</li>
        </ul>
        <p>&copy; 2023 Hotel Reservation</p>
    </footer>
</body>

</html>