<h1>Welcome home!</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum beatae doloribus doloremque consequatur ex sed deleniti
  iusto dolores non optio, sapiente voluptas adipisci voluptates facere velit, aut autem, impedit placeat.
  Nobis tempora tempore libero ipsa eos pariatur odit ipsam sapiente excepturi hic explicabo iste alias accusantium
  illum similique laudantium, eaque qui magnam corporis impedit maiores saepe. Doloremque, sunt iste. Natus.
  Numquam architecto enim optio voluptatibus placeat qui suscipit aliquam rerum alias voluptatem autem rem, laboriosam
  neque aliquid quod nulla ea maiores esse id distinctio commodi? Magnam sequi quam qui minus.
</p>

<a href="/login">Login</a>
<a href="/register">Sign up</a>