<link rel="stylesheet" href="public/css/login.css">

<form action="/login" method="post">
  <div class="container">
    <h2>Welcome</h2>
    <form action="/login" method="post">
      <div class="input-container">
        <input type="email" name="email" placeholder="Email" class="input-field">
      </div>
      <div class="input-container">
        <input type="password" name="password" placeholder="Password" class="input-field">
      </div>
      <input type="submit" value="Login" class="button signup-button">
      <div class="or-separator">or</div>
      <input type="button" value="Sign Up" onclick="window.location.href='/register';" class="button signup-button">
    </form>
  </div>
</form>

{{#if hasErrors}}
<h3>Errors</h3>

<ul>
  {{#each errors}}
  <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}