<link rel="stylesheet" href="/public/css/register.css">

<div class="container">
    <h1>Sign Up</h1>
    <form action="/register" id="form" method="post">
        <!-- Email -->
        <div class="input-container">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" placeholder="johndoe@gmail.com" class="input-field">
            <small class="error-message">Error message</small>
        </div>
        <!-- First Name -->
        <div class="input-container">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="John" class="input-field">
            <small class="error-message">Error message</small>
        </div>
        <!-- Last Name -->
        <div class="input-container">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Doe" class="input-field">
            <small class="error-message">Error message</small>
        </div>
        <!-- Password -->
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="input-field">
            <small class="error-message">Error message</small>
        </div>
        <!-- Confirm Password -->
        <div class="input-container">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="input-field">
            <small class="error-message">Error message</small>
        </div>
        <!-- Account Type -->
        <div class="input-container">
            <label for="accountType">Account Type</label>
            <select id="accountType" name="accountType">
                <option value="user">User</option>
                <option value="hotel">Hotel</option>
            </select>
            <small class="error-message">Error message</small>
        </div>
        <!-- Submit Button -->
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>

<script src="/public/js/client_side_validation_register.js"></script>