<link rel="stylesheet" href="/public/css/register.css">

<h1>Sign Up</h1>

<form action="/register" method="post">
  <label for="email">Email address</label>
  <input id="email" name="email" type="email" placeholder="johndoe@gmail.com">

  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" type="text" placeholder="John">

  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" type="text" placeholder="Doe">

  <label for="password">Password</label>
  <input id="password" name="password" type="password" placeholder="password">

  <label for="confirmPassword">Confirm Password</label>
  <input id="confirmPassword" name="confirmPassword" type="password" placeholder="confirm password">

  <label for="roleInput">Account Type</label>
  <select name="role" id="role">
    <option value="User">User</option>
    <option value="Admin">Admin</option>
  </select>

  <button type="submit">Register</button>
</form>

{{#if hasErrors}}
<h3>Errors</h3>
{{/if}}



<p>Already have an account? <a href="/login">Login</a></p>